.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    border: 2px solid red;
    height: 800px;
    width: 800px;


    justify-content:center;
    align-content: center;

    /* align-items: center;
    justify-items: center; */

    margin: auto;

}

/* .box{
    justify-self: center;
    align-self: center;
} */


.box:nth-child(even){
    background-color: red;
}
.box:nth-child(odd){
    background-color: greenyellow;
}